<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEVise</title>
</head>

<body>

    <img src="../../assets/images/background-roasted-fresh-brown-coffee-beans-perfect-cool-wallpaper.jpg" width="100%">
</body>












</html>