body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../kanbg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}



#columns {
    width: 20%;
    border-radius: 3px;
    background-color: rgb(110, 66, 4);
    opacity: 94%;
    padding: 10px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: beige;
    text-decoration: underline;

}

.card {
    background-color: beige;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 4px solid rgb(124, 83, 0);
    color: rgb(132, 66, 0);
}

.createBtn {
    width: 100%;
    opacity: 95%;
    border: 1px dashed black;
}

.title, .description, .name {
    text-align: center;
}

/* modal Css */

.modalCreate {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:aqua;
    display: none;
}

.modal-content{
    background-color: aliceblue;
    margin: 10% auto;
    width: 40%;
    height: 300px;
    box-shadow: 0 5px 8px 0 black, 0 7px 20px 0 black;
    position: relative;
    border-radius: 3px;
    min-height: 300px;
}


.closeBtn:hover{
    cursor: pointer;
    color: red;
    transition: 0.2s ease-out;
}

.modalForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dltCardBtn:hover {
    cursor: pointer;
    color: red;
    transition: 0.2s ease-out;
}

.modalContainer {
    width: 100%;
    height: 100%;
    background-image: url("../modalbg.jpeg");
    height: 100%;
}


.closeBtn {
    background-color: black;
    color: white;
}

.lname, .lTask, .lDescription {
    color: white;
}

.hide{
    display: none;
}