body { 
    background-image: url("../images/background-roasted-fresh-brown-coffee-beans-perfect-cool-wallpaper.jpg") ;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover;
    /* background-color: salmon; */
}

.mocha {
    /* background-color: #B79479; */
    background: linear-gradient(#795A46, #B79479, #CDC3BE) no-repeat;
}

.signUpBackground {
    background-image: url("../images/background-blurry-restaurant-shop-interior.jpg");
}

