.signupPageBackground { 
    background-image: url("../images/background-roasted-fresh-brown-coffee-beans-perfect-cool-wallpaper.jpg") ;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover;
    /* background-color: salmon; */
}

.signUpBackground {
    background-image: url("../images/background-blurry-restaurant-shop-interior.jpg");
}

.teamBackground {
    background-image: url("../images/abstract-blurred-people-night-festival-city-park-bokeh-background-vintage-tone.jpg");
    background-size: cover;
}


.navbarColor {
    background-color: #7A8187;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 11.5rem;
      padding: 0;
    }
  }
  
  .navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  }
  
  @media (min-width: 767.98px) {
    .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
    }
  }
  
  .sidebar .nav-link {
    color: #333;
  }
  
  /* .sidebar .nav-link.active {
    color: #766e3f;
  } */
    

.mocha {
    background: linear-gradient(#795A46, #B79479, #CDC3BE) no-repeat;
}

.matcha {
    background: linear-gradient(#766e3f, #a69e70, #b6b9a3) no-repeat;
}

.coolBeige {
  background-color: #CDC3BE;
}

.coolCream {
  background-color: #EBEBEB;
}

.lightCoffee {
  background-color: #B79479;
}

.teamPageAllignment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
  }


